<link rel="stylesheet" href="http://oneagency.github.io/profacts-js-consult/dist/css/template-styles.css">
<div class="overlay"></div>
<div class="modal-box-content">
  <header>
    <div class="gradient"></div>
    <h1>Deel uw mening en win!</h1>
  </header>

  <section>
    <p>Als bezoeker aan onze website willen wij graag uw mening weten over Acerta als potentiële werkgever.</p>
    <p>Deelnemen neemt slecht 10-15 minuten in beslag en alle gegevens blijven volledig vertrouwelijk.</p>
    <p>Bovendien maakt u dan kans op één van onze fantastische prijzen! </p>

    <div class="buttons tac">
      <a href="<%- accepturl %>" class="button button-accept" target="_blank">Ik neem deel</a>
      <a href="#" class="button button-decline">Nu niet</a>
    </div>

    <div class="grid-2 mobile">
      <div class="tac">
        <img src="http://oneagency.github.io/profacts-js-consult/dist/img/acerta.png" alt="Acerta" class="logo">
      </div>

      <div class="tac">
        <img src="http://oneagency.github.io/profacts-js-consult/dist/img/profacts.png" alt="Profacts" class="logo">
      </div>
    </div>
  </section>
</div>
